<div class="toolbar" role="banner" style="height:30px;">
  <span>
    <h2 style="color: white;">SpringBoard</h2>
  </span>
  <div class="spacer"></div>
  <input placeholder="searching...." type="text">
</div>
<ul nz-menu nzMode="horizontal" style="margin-top:30px">
  <li nz-submenu nzTitle="WORK" nzIcon="setting">
    <ul>
      <li nz-menu-item nzTitle="TECHNOLOGY">
        TECHNOLOGY
      </li>
      <li nz-menu-item nzTitle="FLOW">
        FLOW
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="LIFE" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="SHARING">
        <ul>
          <li nz-menu-item>CAR SHARING</li>
          <li nz-menu-item>EATING SHARING</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="LABOUR UNION">
        <ul>

          <li nz-menu-item>LABOUR UNION PURCHASE</li>
          <li nz-menu-item>FLEA MARKET</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>