<nz-layout>
  <nz-header>
    <div class="logo" style="display: flex; align-items: center;">SpringBoard</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-submenu nzTitle="WORK" nzIcon="setting">
        <ul>
          <li nz-menu-item nzTitle="TECHNOLOGY" (click)="technologyClick($event)">
            TECHNOLOGY
          </li>
          <li nz-menu-item nzTitle="FLOW" (click)="flowClick($event)">
            FLOW
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="LIFE" nzIcon="setting">
        <ul>
          <li nz-menu-group nzTitle="SHARING">
            <ul>
              <li nz-menu-item (click)="carSharingClick($event)">CAR SHARING</li>
              <li nz-menu-item (click)="eatingSharingClick($event)">EATING SHARING</li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="LABOUR UNION">
            <ul>
              <li nz-menu-item (click)="lupClick($event)">LABOUR UNION PURCHASE</li>
              <li nz-menu-item (click)="fmClick($event)">FLEA MARKET</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content" [ngSwitch]="displayCom">
      <app-homepage *ngSwitchCase="'home'"></app-homepage>
      <app-carsharing *ngSwitchCase="'carSharing'"></app-carsharing>
      <app-flow-list *ngSwitchCase="'flow'"></app-flow-list>
    </div>
  </nz-content>
  <nz-footer>APP Design ©2020 Implement By Code Shooter</nz-footer>
</nz-layout>
