<nz-list nzItemLayout="vertical" style="margin-left: 5%; margin-right: 5%;">
    <nz-list-item *ngFor="let item of data">
      <nz-list-item-meta>
        <nz-list-item-meta-avatar [nzSrc]="item.avatar"> </nz-list-item-meta-avatar>
        <nz-list-item-meta-title>
          <a href="{{ item.href }}">{{ item.title }}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          {{ item.description }}
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      {{ item.content }}<a href="{{ item.href }}">  details...</a>
      <ul nz-list-item-actions>
        <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i>  {{item.starNum}}</nz-list-item-action>
      </ul>
      <nz-list-item-extra>
        <img width="272" alt="logo" src="{{item.picSrc}}" />
      </nz-list-item-extra>
    </nz-list-item>
  </nz-list>